.header {
  margin: 0;
  text-align: center;
}

.header img {
  height: auto;
  width: 100%;
}

/* .searchBar {
  width: 50%;
  height: 4.5em;
  margin-top: 3%;
  margin-left: 18%;
  background-color: #efefef;
} */

.childContainer:hover {
  cursor: pointer;
}

.childImage {
  border-radius: 2%;
  width: 100%;
  height: 65%;
  cursor: pointer;
}

.inline {
  display: inline-block;
}

.block {
  display: block;
}

.popup {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 55%;
  height: 55%;
  margin: auto;
  position: fixed;
  border-radius: 5%;
  background-color: rgba(239, 239, 239, 1);
}

.modalBackground {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 55%;
  height: 55%;
  margin: auto;
  position: fixed;
  border-radius: 5%;
  background-color: rgba(239, 239, 239, 1);
}

.popup\_inner {
  top: 25%;
  left: 25%;
  right: 25%;
  bottom: 25%;
  margin: auto;
  border-radius: 10%;
  position: absolute;
  background: white;
}

.newRentalPopUp {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
}
.newRentalPopUpInner {
  top: 8%;
  left: 8%;
  right: 8%;
  bottom: 8%;
  margin: 5px auto;
  border-radius: 1%;
  position: absolute;
  background: white;
  overflow: scroll;
}

.newRentalInfo {
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  margin: auto;
  border-radius: 2%;
  position: absolute;
  background: white;
}

/* .cardImage {
  width: 40%;
  height: 40%;
  float: left;
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 2%;
  border-radius: 10%;
} */

#exitBtn {
  margin-top: 2%;
  margin-left: 94%;
}

nav {
  background-color: black;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  display: flex;
}

.navitem {
  float: right;
  font-weight: 700;
}

.desc {
  padding-top: 2.5%;
}

.buttons {
  margin-left: 6.5%;
}

.newRentalLogo {
  padding-left: 100px;

  /* margin: 0px auto;
  text-align: center; */
}

#button {
  margin-left: 90%;
}

.searchContainer {
  display: flex;
  width: 60%;
  margin: 0px auto;
}
.searchChild1 {
  width: 75%;
}

.searchBar {
  margin-top: 10px;
  width: 100%;
  height: 3.5em;
  font-size: 12px;
}

.searchChild2 {
  width: 25%;
  margin-left: 5px;
  margin-top: 10px;
}

.parentColumn {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 98%;
  margin: 20px auto 40px auto;
}

.childColumn {
  width: 30%;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 8px auto;
  background-color: rgba(230, 222, 222, 0.781);
  border-radius: 5%;
}

/* .childColumn:hover {
  transform: scaleY(1.5);
  transform: scaleX(1.5);
  transform-origin: center;
} */

.childColumn:hover {
  box-shadow: 8px 5px 5px rgba(55, 55, 55, 0.4);
}

.grandchild {
  width: 100%;
  margin-top: 0px;
  background-color: rgba(230, 222, 222, 0.781);
  border-radius: 2%;
  height: 375px;
}

.price {
  text-align: center;
  padding-bottom: 10px;
  margin-top: -10px;
}

td {
  text-align: center;
  vertical-align: middle;
}

table {
  width: 90%;
  padding: 5px;
  margin: 0px auto;
  font-size: 13px;
  text-align: center;
}

.searchParent {
  width: 100%;
  margin: 0px auto;
}

.parentIframe {
  display: flex;
  justify-content: center;
}

iframe {
  display: block;
  margin: 0px auto;
}
